/* Branding
================================= */

.logo-brand {
  text-align: center;
  margin-top: 1em;
}
.brand-layout-control {
  display: inline-block;
  font-size: 64px;
}
.heading-medium-large {
  border-bottom: inherit;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.25;
  margin-bottom: .8em;
  margin-top: 0.3em;
  text-transform: none;
}

.btn-facebook{background-color: #507CBE;color: white;} .btn-facebook:hover{background-color:#4B73AE;color: white;}
.btn-twitter{background-color: #55acee;color: white;} .btn-twitter:hover{background-color:#5CBBDC;color: white;}
.btn-google{background-color: #dd4b39;color: white;} .btn-google:hover{background-color:#CE4636;color: white;}
.password-block { display: flex; align-items: center; }
.forgot {width: 0; font-size:16px; position: relative; right: 70px; }
.checkbox-rememberMe label {font-size:14px;color:#637073;}
#brand-logo-small { padding: 1.5ex 0.5ex 0.5ex 0.5ex;}